/* General styles*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    margin: 9rem auto;
    overflow: hidden;
    font-family: 'Outfits', sans-serif;
    font-size: 15px;
    background: #DCE8F2;
}

a {
    color: #2E83F2;
    text-decoration: none;
    font-size: 14px; 
}

h3 {
    font-family: 'Outfits', sans-serif;
    font-size: 22px;
    font-weight: 700;
}

p {
    font-family: 'Outfits', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

figure {
    margin: 0;
}

img {
    width: 100%;
}

/*The #main-container's styles*/
#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-container {
    background-color: #ffffff;
    width: 322px;
    height: 497px;
    top: 85px;
    box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}

.oval {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    height: 288px;
    width: 288px;
    border-radius: 15px;
}

.content-details {
    margin-top: 20px;
}

h3 {
    text-align: center;
    font-style: normal;
    line-height: 28px;
    color: #1F314F;
    margin-bottom: 15px;
}

.description {
    font-style: normal;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.19px;
    color: #7D889E;
}

footer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    padding: 50px;
}

.attribution {
    margin-bottom: 50px;
}

.attribution p {
    color: #003366;
    font-size: 14px;
}

@media screen and (min-width: 1024px) {
    /* desktop styles here */

    .content-container {
        background-color: #ffffff;
        width: 322px;
        height: 497px;
        top: 85px;
        box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.05);
        border-radius: 20px;
        left: 560px;
        top: 152px;
    }  

    footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
    }

    footer .content-wrapper {
        width: 70%;
    }

    footer .attribution {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
    }

    footer .attribution p {
        margin-bottom: 20px;
        padding-right: 30px;
    }
}
  